<%= render @profile %>

<h2 class="mt-5">My Reviews</h2>

<% if @reviews.present? %>
  <ul>
    <% @reviews.each do |review| %>
      <li>
        <%= link_to truncate(review.review, length: 25), review_path(review) %>
        <br>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>You have not written any reviews yet.</p>
<% end %>

