<p style="color: green"><%= notice %></p>

<%= render @artist %>

<div class="d-flex justify-content-between mt-3">
  <%= link_to "Back to artists", artists_path, class: "btn btn-secondary" %>
</div>
