<div class="container mt-5">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1 class="display-4">Rate Your Music</h1>
      <img src="https://image-cdn-ak.spotifycdn.com/image/ab67706c0000da84ac2ff5f80eab1f1253fdd851" alt="rate-your-music" class="img-fluid my-5 rounded-1">
      <p class="lead">Discover, review, and rate your favorite music. Join our community and share your thoughts on the latest albums and tracks.</p>
    </div>
  </div>
</div>
