<div id="<%= dom_id review %>">
  <p>
    <strong>Album:</strong>
    <%= review.album_id %>
  </p>

  <p>
    <strong>Review:</strong>
    <%= review.review %>
  </p>

  <p>
    <strong>Rate:</strong>
    <%= review.rate %>
  </p>

</div>
