<footer>
  <div class="footer-container">
    <%= link_to "About", about_path, class: "footer-link" %>
    <%= link_to "Privacy Policy", privacy_policy_path, class: "footer-link" %>
    <%= link_to "Terms of Service", terms_of_service_path, class: "footer-link" %>
  </div>
</footer>